#transform{

// backface-visibility convenience
// ---------------------------
  .backface-visibility(@val:hidden){
    backface-visibility: @val;
    -webkit-backface-visibility: @val;
  }

// hardware acceleration
// ---------------------------
  .hardware-acceleration(){
    .translateZ(0);
  }

// transform origin convenience
// ---------------------------
  .origin(@x:50%,@y:0,@z:0){
    -webkit-transform-origin: @x @y @z;
    -moz-transform-origin: @x @y @z;
    -o-transform-origin: @x @y @z;
    -ms-transform-origin: @x @y @z;
    transform-origin: @x @y @z;
  }

// transform style convenience
// ---------------------------
	.style(@style:preserve-3d){
		-webkit-transform-style : @style;
  	-moz-transform-style    : @style;
  	-o-transform-style      : @style;
  	-ms-transform-style     : @style;
  	transform-style         : @style;
	}

// .translate()
// includes overrides for optional x,y,z arguments
//------------------------------------
  .translate(@x:50%){
    -webkit-transform : translateX(@x);
    -moz-transform    : translateX(@x);
    -o-transform      : translateX(@x);
    -ms-transform     : translateX(@x);
    transform         : translateX(@x);
  }

  .translate(@x:50%,@y:50%){
    -webkit-transform : translateX(@x) translateY(@y);
    -moz-transform    : translateX(@x) translateY(@y);
    -o-transform      : translateX(@x) translateY(@y);
    -ms-transform     : translateX(@x) translateY(@y);
    transform         : translateX(@x) translateY(@y);
  }

  .translate(@x:50%,@y:@50%,@z:50%){
    -webkit-transform : translateX(@x) translateY(@y) translateZ(@z);
    -moz-transform    : translateX(@x) translateY(@y) translateZ(@z);
    -o-transform      : translateX(@x) translateY(@y) translateZ(@z);
    -ms-transform     : translateX(@x) translateY(@y) translateZ(@z);
    transform         : translateX(@x) translateY(@y) translateZ(@z);
  }

// .translateY
//------------------------------------
// TODO - make these additive.
  .translateY(@num:200px){
    -webkit-transform : translateY(@num);
    -moz-transform    : translateY(@num);
    -o-transform      : translateY(@num);
    -ms-transform     : translateY(@num);
    transform         : translateY(@num);
  }

// .translateY
//------------------------------------
  .translateX(@num:200px){
    -webkit-transform : translateX(@num);
    -moz-transform    : translateX(@num);
    -o-transform      : translateX(@num);
    -ms-transform     : translateX(@num);
    transform         : translateX(@num);
  }

// .translateZ
//------------------------------------
	.translateZ(@num:200px){
		-webkit-transform : translateZ(@num);
  	-moz-transform    : translateZ(@num);
  	-o-transform      : translateZ(@num);
  	-ms-transform     : translateZ(@num);
  	transform         : translateZ(@num);
	}

// .rotate()
// includes overrides for optional x,y,z arguments
//------------------------------------
// TODO - make these additive.
  .rotate(@x:50%){
    -webkit-transform : rotateX(@x);
    -moz-transform    : rotateX(@x);
    -o-transform      : rotateX(@x);
    -ms-transform     : rotateX(@x);
    transform         : rotateX(@x);
  }

  .rotate(@x:50%,@y:50%){
    -webkit-transform : rotateX(@x) rotateY(@y);
    -moz-transform    : rotateX(@x) rotateY(@y);
    -o-transform      : rotateX(@x) rotateY(@y);
    -ms-transform     : rotateX(@x) rotateY(@y);
    transform         : rotateX(@x) rotateY(@y);
  }

  .rotate(@x:50%,@y:@50%,@z:50%){
    -webkit-transform : rotateX(@x) rotateY(@y) rotateZ(@z);
    -moz-transform    : rotateX(@x) rotateY(@y) rotateZ(@z);
    -o-transform      : rotateX(@x) rotateY(@y) rotateZ(@z);
    -ms-transform     : rotateX(@x) rotateY(@y) rotateZ(@z);
    transform         : rotateX(@x) rotateY(@y) rotateZ(@z);
  }

// .rotateX
//------------------------------------
  .rotateX(@x:-90deg){
    -webkit-transform : rotateX(@x);
    -moz-transform    : rotateX(@x);
    -o-transform      : rotateX(@x);
    -ms-transform     : rotateX(@x);
    transform         : rotateX(@x);
  }

// .rotateY
//------------------------------------
  .rotateY(@x:-90deg){
    -webkit-transform : rotateY(@x);
    -moz-transform    : rotateY(@x);
    -o-transform      : rotateY(@x);
    -ms-transform     : rotateY(@x);
    transform         : rotateY(@x);
  }

// .rotateZ
//------------------------------------
  .rotateZ(@x:-90deg){
    -webkit-transform : rotateZ(@x);
    -moz-transform    : rotateZ(@x);
    -o-transform      : rotateZ(@x);
    -ms-transform     : rotateZ(@x);
    transform         : rotateZ(@x);
  }

// .scale
//------------------------------------
  .scale(@x:2,@y:2){
    -webkit-transform : scale(@x,@y);
    -moz-transform    : scale(@x,@y);
    -o-transform      : scale(@x,@y);
    -ms-transform     : scale(@x,@y);
    transform         : scale(@x,@y);
  }

}