#transform{

  // hardware acceleration
  // ---------------------------
  .hardware-acceleration(){
    .translateZ(0);
  }

  .origin(@x:50%,@y:0,@z:0){
    -webkit-transform-origin: @x @y @z;
    -moz-transform-origin: @x @y @z;
    -o-transform-origin: @x @y @z;
    -ms-transform-origin: @x @y @z;
    transform-origin: @x @y @z;
  }

	.style(@style:preserve-3d){
		-webkit-transform-style : @style;
  	-moz-transform-style    : @style;
  	-o-transform-style      : @style;
  	-ms-transform-style     : @style;
  	transform-style         : @style;
	}
  .translateY(@num:200PX){
    -webkit-transform : translateY(@num);
    -moz-transform    : translateY(@num);
    -o-transform      : translateY(@num);
    -ms-transform     : translateY(@num);
    transform         : translateY(@num);
  }
	.translateZ(@num:200px){
		-webkit-transform : translateZ(@num);
  	-moz-transform    : translateZ(@num);
  	-o-transform      : translateZ(@num);
  	-ms-transform     : translateZ(@num);
  	transform         : translateZ(@num);
	}

  .rotateX(@x:-90deg){
    -webkit-transform : rotateX(@x);
    -moz-transform    : rotateX(@x);
    -o-transform      : rotateX(@x);
    -ms-transform     : rotateX(@x);
    transform         : rotateX(@x);
  }

  .rotateY(@x:-90deg){
    -webkit-transform : rotateY(@x);
    -moz-transform    : rotateY(@x);
    -o-transform      : rotateY(@x);
    -ms-transform     : rotateY(@x);
    transform         : rotateY(@x);
  }

  .rotateZ(@x:-90deg){
    -webkit-transform : rotateZ(@x);
    -moz-transform    : rotateZ(@x);
    -o-transform      : rotateZ(@x);
    -ms-transform     : rotateZ(@x);
    transform         : rotateZ(@x);
  }

  .scale(@x:2,@y:2){
    -webkit-transform : scale(@x,@y);
    -moz-transform    : scale(@x,@y);
    -o-transform      : scale(@x,@y);
    -ms-transform     : scale(@x,@y);
    transform         : scale(@x,@y);
  }

}