#util{

// clearfix
// ---------------------------
  .clearfix() {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

// .hbox()
// floated horizontal layouts with even left/right margins
// -----------------------------------------------
  .hbox-item(@margin:20px){
    float: left;
    margin-left: @margin / 2;
    margin-right: @margin / 2;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }

  .hbox(@margin:20px){
    > *{
      .hbox-item(@margin);
    }
  }

// .vbox()
// vertical layouts with even top/bottom margins
// -----------------------------------------------
  .vbox-item(@margin:20px){
    margin-top: @margin / 2;
    margin-bottom: @margin / 2;
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  .vbox(@margin:20px){
    > *{
      .vbox-item(@margin);
    }
  }

// image replacement
// source https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
// ---------------------------
  .image-replacement() {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

// center block elements
// ---------------------------
  .center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

// position an element offscreen
// ---------------------------
  .offscreen(){
    position: absolute;
    left: -9999px;
  }

// sizing conveniences
// ---------------------------
  .size(@width:100px, @height:100px) {
    width: @width;
    height: @height;
  }
  .square(@size:100px) {
    .size(@size, @size);
  }

// placeholder text for form elements
// ---------------------------
  .placeholder(@color: #ccc) {
    &:-moz-placeholder            { color: @color; } // Firefox 4-18
    &::-moz-placeholder           { color: @color; } // Firefox 19+
    &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
  }

  .horizontal-align(){
    #relative > .left(50%);
    #transform > .translateX(-50%);
  }

  .vertical-align(){
    #relative > .top(50%);
    #transform > .translateY(-50%);
  }

}