<h3>square</h3>
<div class='grid example'>

  <div class='column-6'>
    <div class='box center util'></div>
  </div>

  <div class='column-6'>
<pre class='language-css'><code>.box{
  #util > .square(100px);
}

// css output
.box{
  width: 100px;
  height: 100px;  
}</code></pre>
  </div>
</div>
