<h3>size</h3>
<p>define width and height in a single line</p>

<div class='grid example'>

  <div class='column-6'>
    <div class='box center util size'></div>
  </div>

  <div class='column-6'>
<pre class='language-css'><code>.box{
  #util > .size(300px,150px);
}

// css output
.box{
  width: 300px;
  height: 150px;  
}</code></pre>
  </div>
</div>

