<section class='util'>
  <div>
    <h2>Util</h2>
    <p>Misc. helpers</p>

    <%- partial('examples/util_size.ejs') %>
    <%- partial('examples/util_square.ejs') %>
    <%- partial('examples/util_clearfix.ejs') %>
  </div>

</section>